<!DOCTYPE html>
<html>
    <head>
        <title>The Best</title>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/app.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    </head>
    <body id="body"style="background-color:
    #c4ff4d;">

            

                <div class="ui  inverted menu">
                        <div class="ui container">
                            <div class="header item"><a href="/diets" id="title">
                                <!-- <i id="icon" class="code icon"></i> -->
                                <span  style="color:#cccc00;">B</span>Fit</a></div>
                                <a href="/diets" class="item">Home</a>
                                <a href="/diets/new" class="item">New</a>
                        
                        </div>
                        
                    </div>