<% include ../partials/header %>
 
<!-- jumbotron========================= -->
<div  class="container forma" >
       <div class="jumbotron">
            <div class="container">

                    <h1>Track your fitness routine here....</h1>
                    <p>Add your new Routine..</p>
                    <a id="bb" class="ui black button" href="/diets/new">ADD</a>
            </div>
            <!-- ============== -->
            <!-- <div class="ui inverted segment "  style="width :90%; margin: 20px auto;">
                <h3>Healthy eating rules from a nutritionist</h3>
            </div> -->
  
     
     
        <!-- =================== -->
  </div>
         
         <!-- =========================== -->
         
              
    <!-- ========================= -->
         <div class="container">
             <div class="row" style="display:flex; flex-wrap:wrap;">
                    <% camp.forEach(function(camps){  %>
                 <div class="col-md-4 col-sm-6 niche">
                        <div  class="ui medium  image">
                                <img src="<%= camps.image %>">
                        </div>
                        <div class="ui black segment" style="background-color:#e0e0d1;">
                           <h4>Plan for you <%= camps.name.toUpperCase() %></h4>
                        </div>
                        <p>
                            <a href="/diets/<%=camps._id %>" class="ui black button" > more info </a>
                        </p>
                     </div>
                 <% }); %>
             </div>
      </div>
 </div>



<% include ../partials/footer %>