<% include ../partials/header %>
 
<!-- jumbotron========================= -->
<div  class="container form">
       <div class="jumbotron">
            <div class="container">

                    <h1>Track your fitness routine here....</h1>
                    <p>Add your new Routine..</p>
                    <a  class="ui black button" href="/diets/new">ADD</a>
            </div>
            <!-- ============== -->
            <div class="ui inverted segment "  style="width :90%; margin: 20px auto;">
                <h3>Healthy eating rules from a nutritionist</h3>
            </div>
      <div>
            <div class="rules">
               <h2 class="ui header">
                <a class="ui black circular label">1</a>
                <a class="ui black circular label">Load your plate with vegetables.</a>
              </h2>
            </div>
        
            <div class="rules">
                    <h2 class="ui header">
                     <a class="ui black circular label">2</a>
                     <a class="ui black circular label">Have a plan when you hit the grocery store.</a>
                   </h2>
           </div>
           <div class="rules">
                <h2 class="ui header">
                 <a class="ui black circular label">3</a>
                 <a class="ui black circular label">Cut down on processed foods.</a>
               </h2>
       </div>
        <div class="rules">
                    <h2 class="ui header">
                     <a class="ui black circular label">4</a>
                     <a class="ui black circular label">Switch to whole grains.</a>
                   </h2>
           </div>  
           <div class="rules">
                <h2 class="ui header">
                 <a class="ui black circular label">5</a>
                 <a class="ui black circular label">Enjoy your food,Don’t just count calories.</a>
               </h2>
       </div>  
                                  
      </div>
     
        <!-- =================== -->
  </div>
         
         <!-- =========================== -->
         
              
    <!-- ========================= -->
         <div class="container">
             <div class="row" style="display:flex; flex-wrap:wrap;">
                    <% camp.forEach(function(camps){  %>
                 <div class="col-md-4 col-sm-6 niche">
                        <div  class="ui medium  image">
                                <img src="<%= camps.image %>">
                        </div>
                        <div class="ui black segment" style="background-color:#e0e0d1;">
                           <h4><%= camps.name.toUpperCase() %></h4>
                        </div>
                        <p>
                            <a href="/diets/<%=camps._id %>" class="ui black button" > more info </a>
                        </p>
                     </div>
                 <% }); %>
             </div>
      </div>
 </div>



<% include ../partials/footer %>