<!DOCTYPE html>
<html>
    <head>
        <title>The Best</title>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/app.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    </head>
    <body >
        <style>
          body{
              background-image:url( "https://images.unsplash.com/photo-1461257906370-321a8ad92e6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
              
            }   
        </style>

   <div style="width :30%; margin: 20px auto;">
   <div  class="ui container password">
       <div class="ui black segment" style="margin-top: 75%">
           <label><h3>User Key :</h3> </label>
             <form action="/" method="POST">
           <input id="ppp" type="password" name="key">
             </form>
       </div>
   </div>
</div>

<% include partials/footer %>