#title{
    font-size: 150%;
}
    
.forma{
    margin-top: 5px;
}
#delete{
    display: inline;
}


.niche{
    margin-bottom: 4%;
}
.rules{
    margin-top: 8px;
    margin-bottom: 8px;

    color: #A88661;
}
.password{
    width :100%; margin: 20px auto;
}
@media screen and (max-width :700px){
    .info{
         font-size: 10px;
    }
}
@media screen and (max-width :700px){
    .info{
         font-size:15px;
    }
}
@media screen and  (max-width :600px){
    .info{
         font-size: 10px;
    }
}


@media (max-width:700px){
    .cone{
        padding-left: 0;
        padding-right: 0;
    }
}
@media(max-width:700px){
    #seg{
        padding-left: 3px;
        padding-right: 3px;
    }
}
@media (max-width:600px){
    .form{
        margin-top: 5%;
        margin-left: -27%;
        width: 150%;
    }
}
@media (min-width:710px) and (max-width:750px){
    .form{
        margin-top: 5%;
       
    }
}
@media  screen and(max-width:900px){
    .password{
        width :133%; 
    }
}
@media (max-width: 900px){
    #ppp{
        width:100%;
    }
}
@media  screen and(max-width:700px){
    .password{
        width :160%; 
    }
}
@media (max-width:500px){
    .password{
      padding-left: 0%;
      padding-right: 0%;
      margin-left: 0%;
      margin-right: 0%;
    }
}